@model SearchMovieViewModel
<form asp-area="" asp-controller="Movies" asp-action="Search" class="form-inline my-2 my-lg-0" method="post">
    <input asp-for="SearchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>