@model MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Movies Index</h2>
<div id="container">
    @*<label for="ddlGenre"><strong>Select a genre</strong></label>*@
    <select asp-for="GenreId" id="GenreId" asp-items="@Model.Genres">
        <option>--Choose genre--</option>
    </select>
    @*@Html.DropDownListFor(m =>m.GenreId,
        new SelectList(Model.Genres, "Id", "Name", Model.GenreId), new { id = "ddlGenre", @class = "test" })*@
    <br /><br />

    <div id="dvGenreResults">
        @Html.RenderPartialAsync("_GenreResults", @Model.Movies);
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#GenreId").change(function () {
            //alert('test');
            var genreId = $("#GenreId").val();
            var url = "@Url.Action("GetGenreMovies","Movies")?genreId=" + genreId;
            console.log(url);
            $("#dvGenreResults").load(url);
        });
    });
</script>