@{
    Layout = "/Views/Users/Index.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_UsersNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
            Render body goes here...
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}